---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

* { padding: 0; margin: 0; }

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 'Courier New', monospace;
  color: $darkGray;
}

.container {
  width: 100%;
  height: 100%;
}

.container1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', monospace;
  color: $black;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $black;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0px;
}

.masthead {
  padding-left: 25px;
  padding-right: 25px;
  background-color: $pink;
  text-align: center;
  }

.site-avatar {
    width: 70px;
    height: 70px;
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }

.site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }

.site-name {
  margin: 0;
  color: $black;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0 auto;
}

.site-description {
  color: $white;
  font-size: 16px;
}

nav {
  float: none;
  margin-top: 5px; // @TODO: Vertically middle align
  font-family: 'Courier New', monospace;
  font-size: 18px;
  padding-bottom: 10px;

  @include mobile {
    float: none;
    margin-top: 5px;
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
  }

  a {
    color: $black;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $black;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {

  max-width: 740px;
  padding: 50px 50px 50px 50px;
  width: 100%;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
    text-decoration: underline;
  }
}

footer {
  padding-top: 20px;
  text-align: center;
  margin-top: 0px;
  background-color: $black;
  height: 200px;
  width: 100%;
  color: white;
}

// extras

input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: 16px 'Courier New', monospace;
}

input[type=submit], input[type=button] {
    display: inline-block;
    width: 200px;
    background-color:$green;
    border: none;
    color: white;
    padding: 15px 15px;
    margin: 10px 0;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 16px 'Courier New', monospace;
    -webkit-appearance: none;
    }

.subscribe {
  background-color: #f4eb0e;
  padding: 50px;
  text-align: center;
}

.page1 {
  max-width: 740px;
  padding: 50px 50px 50px 50px;
  width: 100%;
}

.home-image {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url("/images/home.jpeg");
  background-position: center;
  background-size: cover;

  @include mobile {
    height: 400px;
}
}

.home-box-h2 {
  color: $yellow;
}

.home-box {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: $black;
    color: white;
    padding: 40px 25px 40px 25px;
    border: none;
    border-radius: 4px;
    text-align: center;
    z-index: 10;
    font: 16px 'Courier New', monospace;
}

.home-button {
    width: 250px;
    height: 50px;
    position: absolute;
    background-color:$green;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    font: 16px 'Courier New', monospace;
    -webkit-appearance: none;
}

.home-image2 {
  width: 100%;
  height: 600px;
  position: relative;
  background-color: $black;

  @include mobile {
    height: 400px;
}
}

.home-box2-h2 {
  color: $black;
}

.home-box2-h2 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: $pink;
    color: white;
    padding: 40px 25px 40px 25px;
    border: none;
    border-radius: 4px;
    text-align: center;
    z-index: 10;
    font: 16px 'Courier New', monospace;
}

.home-button2 {
    width: 250px;
    height: 50px;
    position: absolute;
    background-color:$green;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    font: 16px 'Courier New', monospace;
    -webkit-appearance: none;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
