---
layout: default
---

<div class="blog list">
    {% for post in site.categories[page.tag] %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

        {% include button.html url="{{ site.baseurl }}{{ post.url }}" %}
        
        <button onclick="{{ site.baseurl }}{{ post.url }}'">Read More</button>
        
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
</div>
